<p class="post-meta">
  <% if article.comments.any? or article.allow_comments? %>
    <span class="comment"><%= pluralize( article.comments.count, 'Comment' )%></span> |
    <%= link_to 'Leave a comment', article_path(article, :anchor => 'respond') %> |
  <% end -%>
  Posted by <%= article.author %> on <span class="date"><%= article.published_at.to_formatted_s(:short_dot) %></span>
</p>