<p class="post-meta">
    Posted by <%= article.author %> on <%= article.published_at.to_formatted_s(:short_dot) %> by <%= link_to article.author, articles_authored_path(article.updated_by.permalink) %> 
</p>